nav {
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

nav img {
    width: 50px;
    height: auto;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media (min-width: 768px) {}