{% extends 'base.html' %}

{% block content %}

{% block title %}Kim's Recipes{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

<main>
    <header>
        <div class="header-content">
            <h1>Learn, Cook, & Enjoy!</h1>
            <div class="count">
                <h2>{{ recipe_count }}</h2>
                <p>recipes</p>
            </div>
        </div>
        <div class="category-buttons">
            <button href="#" class="category-link" data-category-id="0">All recipes</button>
            {% for category in categories %}
            <button href="#" class="category-link" data-category-id="{{ category.id }}">
                {{ category.name }}
            </button>
            {% endfor %}
        </div>
    </header>


    <div id="recipe-container">
        {{ recipes_html | safe }}
    </div>

</main>
{% endblock %}