{% extends 'base.html' %}

{% block content %}
<main>
    <header>
        <div class="header-content">
            <p>Learn, Cook, and Enjoy!</p>
            <div class="count">
                <h4>{{ recipe_count }}</h4>
                <p>recipes</p>
            </div>

        </div>
        <div class="category-buttons">

            <li class="category-btn">
                <a href="#" class="category-link" data-category-id="0">All</a>
            </li>

            {% for category in categories %}
            <li>
                <!-- <img src="{{ category.item_img }}" alt="Category Image"> -->
                <a href="#" class="category-link" data-category-id="{{ category.id }}">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
        </div>
    </header>



    <!-- {% for tag in tags %}
<li>
    <img src="{{ tag.recipe_imag }}" alt="Category Image">
    <a href="{{ url_for('home') }}">
        {{ tag.tag_name }}
    </a>
</li>
{% endfor %} -->


    <h2>Recipes</h2>
    <div id="recipe-container">
        {{ recipes_html | safe }}
    </div>

</main>
{% endblock %}